<% include usernav.ejs%>



<div class="container">
    <div class="row"></div>
    <div class="row">
        
        <div class="col s12 m12 l4">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <i class="large material-icons" style="padding: 15px">center_focus_strong</i>
            </div>
            <div id="AX" class="card-content">
                
            </div>
        </div>
        </div>
        

        <div class="col s12 m12 l4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <i class="large material-icons" style="padding: 15px">create</i>
                </div>
                <div id="BX" class="card-content">
                    
                </div>
            </div>
            </div>

            <div class="col s12 m12 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                      <i class="large material-icons" style="padding: 15px">date_range</i>
                    </div>
                    <div id="CX" class="card-content">
                       
                    </div>
                </div>
                </div>


        </div>
        </div>
    </div>
        

    
    
    <script>

 // Listening for auth state changes.
 firebase.auth().onAuthStateChanged(function(user) {
            if (user) { 
                 // User is signed in.
          

                 document.getElementById("AX").innerHTML='<a href="/consume?uid='+user.uid +'"><span class="card-title activator grey-text text-darken-4">Track Consumption<i class="material-icons right">chevron_right</i></span>\
              <p style="display:none; ">Click here</p>\
                <p>Track Your Consumption Here</p></a>';
    
                document.getElementById("BX").innerHTML='<a href="/customItem?uid='+user.uid +'"><span class="card-title activator grey-text text-darken-4">Custom Items<i class="material-icons right">chevron_right</i></span>\
                  <p style="display:none; ">Click here</p>\
                    <p>Add Custom Food Items Here</p></a>';


                    document.getElementById("CX").innerHTML=' <a href="/historical?uid='+user.uid +'"> <span class="card-title activator grey-text text-darken-4">Historical Consumption<i class="material-icons right">chevron_right</i></span>\
                      <p style="display:none; ">Click here</p>\
                        <p>Track Your Historical Consumption Here</p></a>'


            } else {
            // User is signed out.
            window.location="/dashboard";              
                }
            });


    </script>


    <% include footer.ejs%>