<% include nav.ejs%>


        
<div class="carousel carousel-slider">
        <div id="particles-js"></div>
        
        <div class="carousel-item ">
          
          
                <div class="row">
                  <div class="col s12 m3 l3"></div>
                  <div class="col s12 m6 l6 center">
                    <img class="animation-target" style="max-width:30%;height:auto;margin-top:10%;" src="images/strawberry.gif" alt="">
                    <h3 class="animated bounceInLeft white-text" style="font-weight:250;">YOU ARE WHAT YOU EAT</h3>
                    <h4 class="animated bounceInLeft white-text" style="font-weight:200;">SO EAT HEALTHY!</h4>
                    
                  </div>
                  
                </div>
                <div class="col s12 m3 l3"></div>
                
          
              </div>
             
              <div class="carousel-item ">
                
                      <div class="row">
                        <div class="col s12 m3 l3"></div>
                        <div class="col s12 m6 l6 center">
                          <img class="animation-target" style="max-width:30%;height:auto;margin-top:10%;" src="images/carrot.gif" alt="">
                          <h3 class="animated bounceInLeft white-text" style="font-weight:250;">"THE GREATEST WEALTH IS HEALTH"</h3>
                          <h4 class="animated bounceInLeft white-text" style="font-weight:200;"><i>~Mahatma Gandhi</i></h4>
                          
                        </div>
                        
                      </div>
                      <div class="col s12 m3 l3"></div>
                      
                
                    </div>
                   
       
              <div class="carousel-item ">
                
                      <div class="row">
                        <div class="col s12 m3 l3"></div>
                        <div class="col s12 m6 l6 center">
                          <img class="animation-target" style="max-width:30%;height:auto;margin-top:10%;" src="images/gummy.gif" alt="">
                          <h3 class="animated bounceInLeft white-text" style="font-weight:250;">DOES AN APPLE A DAY KEEP THE DOCTOR AWAY?</h3>
                          <h4 class="animated bounceInLeft white-text" style="font-weight:200;"><i>~OUR QUESTION</i></h4>
                          
                        </div>
                        
                      </div>
                      <div class="col s12 m3 l3"></div>
                      
                
                    </div>
                   
              
            </div>
  
            
<% include footer.ejs%>



  








   
  
   

