<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>CalorieMate</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="icon" type="image/png" href="images/logoC.png" />
  <script src="https://unpkg.com/vue"></script>
</head>

<body>
 



  <nav class="navbar-material ">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">
        <img src="images/logo.png">
      </a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/browse">Browse</a>
        </li>
        <li class="active"><a href="mobile.html">Login</a>
        </li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
          <li><a href="/browse">Browse</a>
          </li>
          <li class="active"><a  href="/login">Login</a>
          </li>
        </ul>
    </div>
  </nav>

<div class="container">
  <div class="row"></div>
  <div class="row"></div>
  <div id="login-page" class="row">
      <div class="col s12 m2 l4"> <!-- Note that "m4 l3" was added -->

      </div>
    <div class="col s12 m8 l4 z-depth-4 card-panel">
      <form class="login-form">
        <div class="row">
          <div class="input-field col s12 center">
            <h3 class="center " style="font-family:Streetwear;text-shadow: 0px 2px 2px black;  color:#1dc072">Login</h3>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input id="username" type="text">
            <label for="username" class="center-align">Username</label>
          </div>
        </div>
        <div class="row margin center-align">
          <div class="input-field col s12">
            <i class="material-icons prefix">lock</i>
            <input id="password" type="password">
            <label for="password">Password</label>
          </div>
        </div>
    
        <div class="row">
          <div class="input-field col s12">
            <a href="index.html" style="background-color:#1dc072" class="btn waves-effect waves-light col s12">Login</a>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6 m6 l6">
            <p class="margin medium-small"><a href="/register.html">Register Now!</a></p>
          </div>
          <div class="input-field col s6 m6 l6">
              <p class="margin right-align medium-small"><a href="/forgotpassword">Forgot password ?</a></p>
          </div>          
        </div>

      </form>
    </div>

    <div class="col s12 m2 l4"> <!-- Note that "m4 l3" was added -->

    </div>
  </div>

</div>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <script src="js/meth.js"></script>
  

  <script>
  $(".button-collapse").sideNav();






  </script>

  </body>
</html>
