<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>CalorieMate</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="icon" type="image/png" href="images/logoC.png" />
<script>
        function initApp() {
        // Listening for auth state changes.
        firebase.auth().onAuthStateChanged(function(user) {
            if (user) {            
                window.location="/dashboard";              
            } else {
            // User is signed out.
                }
            });
        }
        window.onload = function() {
        initApp();
        };
</script>

</head>

<body>
 

<ul id="dropdown1" class="dropdown-content">
  <li><a class="modal-trigger"  href="#LoginContainer">Login</a></li>
  <li class="divider"></li>  
  <li><a href="/Register">Register</a></li>
</ul>

  <nav class="navbar-material ">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">
        <img src="images/logo.png">
      </a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
          <li><a href="/home">Home</a>
          </li>
        <li><a href="/browse">Browse</a>
        </li>
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Login<i class="material-icons right">arrow_drop_down</i></a></li>
        
        </li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
          <li><a href="/browse">Browse</a>
          </li>
          <li><a href="/browse">Home</a>
          </li>
          <li><a class="modal-trigger"  href="#LoginContainer">Login</a></li>
        </li>
        </ul>
    </div>
  </nav>

  <% include login.ejs%>
  <% include forgotpassword.ejs%>
  