<% include usernav.ejs%>



<nav>
        <div class="nav-wrapper" style="background-color:#148750">
          <form>
            <div class="input-field">
              <input id="query" ng-model="query" type="search" required="" >
              <label for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>
          </form>
        </div>
      </nav>


      <p>This is User Browse</p>



<% include footer.ejs%>



  








   
  
   

