/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 @font-face {
  font-family: "Streetwear";
  src: url("css/fonts/Streetwear.otf") format("opentype");
  }


nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}


body {
  background: #1dc072;
}
nav.navbar-material {
  background: white;
  border: none;
  box-shadow: turquoise;
}
.navbar-material .nav-wrapper {
  background: white;

}
.navbar-material .nav-wrapper > ul > li > a {
  color: black;
}
.navbar-material .nav-wrapper .brand-logo img {
  height: 64px;
}
.navbar-material .nav-wrapper .button-collapse i {
  color: black;
}
@media (max-width: 600px) {
  .navbar-material .nav-wrapper .brand-logo img {
    height: 56px;
  }
}

 /* label color */
 .input-field label {
  color: #1dc072 !important;
}

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #1dc072 !important;
  box-shadow: 0 1px 0 0 #1dc072 !important;
}
/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #1dc072 !important;
  box-shadow: 0 1px 0 0 #1dc072 !important;
}
/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #ff0000 !important;
  box-shadow: 0 1px 0 0 #ff0000 !important;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #1dc072 !important;
}
     